.forgot_password {
   background-color: #5f35f5;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 15px;
}

.box {
   background-color: #fff;
   padding: 50px;
   border-radius: 10px;
}

.forgotpass_title {
   font-family: "Nunito", sans-serif;
   font-size: 25px;
   font-weight: 400;
   color: #000;
}

.forgot_input {
   width: 100%;
   margin: 10px 0 !important;
}
